

body{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 22px;
    background-color: rgba(44, 87, 124, 0.295);
    margin: 0;
    padding: 0;

    
}


#header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-bottom: #77aaff 3px solid;
    display: flex;
    align-items: center;
}

#container {
    width: 100%; /* Full width */
    max-width:fit-content; /* Maximum width */
    margin: 0;
    overflow: hidden;
}


#menu ul {

    padding: 0;
    margin: 10px;
    list-style: none;
    display: flex;
    justify-content: start;
    font-size: 25px;
}

#menu ul li {
    padding: 0 20px;
}

#menu ul li a {
    color: #111111;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.5s ease;
}

#menu ul li a:hover {
    background-color:rgba(41, 82, 117, 0.719);
    border-radius: 5px;
}

#header .title h1 {
    font-size: 50px;
    text-align: center;
    
}

#header .logo img {
    height: 100px;  /* Adjusted height */
    width: 100px;   /* Adjusted width */
    margin-right: 15px;
}

#ejemplo h3 {

    color: #0d0d0e;
    text-align: center;
    font-size: 34px;

}

#ejemplo pre {
    padding: 10px;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
    white-space:initial; /* Ajustar el texto dentro de pre */
    word-wrap: break-word; /* Romper palabras largas */
    max-width: 100%; /* Ajustar al ancho máximo */
    overflow: auto; /* Añadir scroll cuando sea necesario */
}

#footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

#ejemplo pre img{
    max-width: 100%;
    height: auto;
    margin: auto;
    width: auto;
    display:block;
    margin-bottom: 40px;
    margin-top: 40px;
}