<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificación de Emociones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function submitFormAndDownload() {
            // Obtener el formulario
            var form = document.getElementById('uploadForm');

            // Enviar el formulario con AJAX
            var formData = new FormData(form);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    // Parsear la respuesta JSON
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        // Iniciar la descarga automáticamente
                        var downloadLink = document.createElement('a');
                        downloadLink.href = response.zip_link;
                        downloadLink.download = response.zip_filename;
                        downloadLink.click();
                    } else {
                        alert('Error al generar las calificaciones.');
                    }
                } else {
                    alert('Error al conectar con el servidor.');
                }
            };
            xhr.send(formData);
        }
    </script>
</head>
<body>
    <div id="container">
        <header id="header">
            <!-- Encabezado y menú aquí -->
        </header>

        <div id="content">
            <h1>Clasificación de Emociones</h1>

            <!-- Formulario para subir archivo CSV -->
            <form id="uploadForm" enctype="multipart/form-data">
                <label for="csvFile">Subir archivo CSV:</label>
                <input type="file" id="csvFile" name="csvFile" accept=".csv" required>
                <button type="button" onclick="submitFormAndDownload()">Generar Calificaciones</button>
            </form>

            {% if message %}
            <p>{{ message.text }}</p>
            {% endif %}
        </div>

        <footer id="footer">
            <p>&copy; 2024 Your Company Name. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
