<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificación de Emociones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function submitFormAndDownload() {
            // Obtener el formulario
            var form = document.getElementById('uploadForm');

            var formData = new FormData(form);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    // Parsear la respuesta JSON
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                
                        var downloadLink = document.createElement('a');
                        downloadLink.href = response.zip_link;
                        downloadLink.download = response.zip_filename;
                        downloadLink.click();
                    } else {
                        alert('Error al generar las calificaciones.');
                    }
                } else {
                    alert('Error al conectar con el servidor.');
                }
            };
            xhr.send(formData);
        }
    </script>
</head>
<body>
    <div id="container">
        <header id="header">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/x.png') }}" alt="twitter">
            </div>
            <div class="title">
                <h1>CLASIFICACIÓN DE TWEETS</h1>
            </div>
        </header>
    <div id="menu">
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('tutorial') }}">Tutorial</a></li>
            <li><a href="{{ url_for('classificator') }}">¡¡Clasificador!!</a></li>
            <li><a href="{{ url_for('contact') }}">Contacto</a></li>

        </ul>
        <hr>
    </div>
    </header>

        <div id="content">
            <h1>Clasificación de Emociones</h1>

            <!-- Formulario para subir archivo CSV -->
            <form id="uploadForm" enctype="multipart/form-data">
                <label for="csvFile">Subir archivo CSV:</label>
                <input type="file" id="csvFile" name="csvFile" accept=".csv" required>
                <button type="button" onclick="submitFormAndDownload()">Generar Calificaciones</button>
            </form>

            {% if message %}
            <p>{{ message.text }}</p>
            {% endif %}
        </div>

        <div id = "tutorial">
            <pre>
                <H3>Tutorial Como usar el clasificador de emociones &#128214; </H3>
            Subir el archivo .csv &#129302; , luego le daremos click al al botón generar calificaciones, al pulsar el botón automanticamente empezara la descarga de un ZIP, el cual contendra
            el analisis del archivo.csv, dentro del Zip solo se enviaran imagenes con los resultados respectivos a los valores dentro del csv
           
        

        <footer id="footer">
            <p>&copy; 2024 Feltoz. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
