<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <header id="header">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/x.png.png') }}" alt="twitter">
            </div>
            <div class="title">
                <h1>CLASIFICACIÓN DE TWEETS</h1>
            </div>
        </header>
    <div id="menu">
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('tutorial') }}">Tutorial</a></li>
            <li><a href="{{ url_for('classificator') }}">¡¡Clasificador!!</a></li>
            <li><a href="{{ url_for('contact') }}">Contacto</a></li>
            <li><a href="{{ url_for('history') }}">Records</a></li>
        </ul>
        <hr>
    </div>
    </header>

    <div id = "tutorial">
        <pre>
            <H3>Tutorial Como usar el clasificador de emociones &#128214; </H3>
        Para Usar el clasificador de tweets es muy simple &#129302; , lo que debemos hacer es ingresar a la opcion clasificador, que esta en la parte superior al ingresar a la seccion
        se nos dara la opcion de subir el escrito del tweet o subir un archivo que sea .csv, estos archivos son aquellos archivos los cuales dividen sus valores por comas, usualmente estos
        archivos se realizan en un archivo excel.
        
        Ahora lo primero que debemos hacer es seleccionar la opcion que deseemos ingresando ya sea de manera escrita o subiendo el archivo .csv. 
    
        luego de esto se dara click a la opcion clasificar, con esto se creara el analisis de los datos brindados..... y ya estaria!!! &#127881; &#127881;

        se creara una imagen la cual contendra el dato y su respectivo analisis mediante una grafica de barras, como se muestra acontinuacion 



        A continuacion se mostrara una imagen, la cual quiere demostar como el entrenamiento del modelo indica ciertos patrones respecto a los sentimientos que se desean predecir 
        
        el analisis del dato 

        <div id="ejemplo">
        <img src="{{ url_for('static', filename='images/prueba1.png') }}" alt="resultados escrito">
        </div>

        La grafica de barras:
        <div id="ejemplo">
            <img src="{{ url_for('static', filename='images/prueba2.png') }}" alt="resultados escrito">
            </div>
        </pre>
    </div>

    <footer id="footer">
        <p>&copy; 2024 Your Company Name. All rights reserved.</p>
    </footer>


</body>
</html>
    